<h1>Home</h1>

<h2>Ruby on rails</h2>
<p>This is Sample Project follow <a href="https://www.railstutorial.org/book">Rails Tutorials</a></p>
<p><b>AND</b> Login with Google Account and Facbook Account</p>
<p>Hope you enjoy !</p>
